GRPC_SERVER_CONFIG_ADDRESS_STRING = "address of your grpcServerConfig.yml"

# ========================================
# POSTGRES CONFIGURATION
# ========================================
DB_HOST= host for your DB
DB_PORT= port for your DB
DB_NAME= name of your DB
DB_USER= user
DB_PASSWORD= yourpass

# Connection Pool Settings (default)
DB_MAX_CONNS=10
DB_MIN_CONNS=2

# Timeouts and Durations (в секундах или как числа), default
DB_HEALTH_CHECK_PERIOD=60      # 60 секунд = 1 минута
DB_MAX_CONN_LIFETIME=3600      # 3600 секунд = 1 час
DB_MAX_CONN_IDLE_TIME=1800     # 1800 секунд = 30 минут
DB_CONNECT_TIMEOUT=5           # 5 секунд

# ========================================
# REDIS CONFIGURATION
# ========================================

# Connection
REDIS_HOST=host for your Redis
REDIS_PORT=port for your Redis
REDIS_PASSWORD=redis_pass
REDIS_DB=0 # Используем базу данных №0 (по умолчанию)

# Connection Pool
REDIS_POOL_SIZE=100 # максимальное количество одновременных TCP-соединений (client -> Redis)
REDIS_MIN_IDLE_CONNS=20 # Минимум соединений, которые нужно держать

# Timeouts
REDIS_DIAL_TIMEOUT=5s  # Ждать не более 5 секунд на подключение
REDIS_READ_TIMEOUT=3s  # Таймаут чтения ответа от Redis
REDIS_WRITE_TIMEOUT=3s # Таймаут отправки команды в Redis
REDIS_IDLE_TIMEOUT=5m  # Закрыть соединение, если не используется 5 минут
REDIS_POOL_TIMEOUT=4m  # Таймаут ожидания свободного соединения
REDIS_MAX_CON_AGE=30m  # Соединение живет максимум заданное время в пуле соединений
REDIS_MAX_RETRIES=2    # при временных сбоях запрос выполнится со 2-3 попытки
REDIS_MIN_RETRY_BACKOFF_MS=100ms # нижняя граница интервала попыток
REDIS_MAX_RETRY_BACKOFF_MS=1000ms # верхняя граница интервала попыток